<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.rda.mapper.DataCompanyMapper">
  
    <select id="getCarNum" resultType="int">
		SELECT sum(carNum) car FROM railwaydata where productId like CONCAT(#{productId},'%') and date like CONCAT(#{time},'%') group by consignor order by car
	</select>
	
	<select id="getCarTon" resultType="int">
		SELECT sum(tonnage) car FROM railwaydata where productId like CONCAT(#{productId},'%') and date like CONCAT(#{time},'%') group by consignor order by car
	</select>


</mapper>