<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.rda.mapper.DistrictMapper">
 <resultMap id="BaseResult" type="org.rda.pojo.RailwayCity">
		<!-- column:数据库中表的字段 
		property：数据库中表所有映射的实体类javaBean中的属性名 -->
		
		<result property="fromCity" column="fromCenter" />
		<result property="toCity" column="toCenter" />
		<result property="tonnage" column="sumTons" />
		<result property="fromLongitude" column="longitude1" />
		<result property="fromLatitude" column="latitude1" />
		<result property="toLongitude" column="longitude2" />
		<result property="toLatitude" column="latitude2" />
	</resultMap>
	
<select id="getAllDistrict" resultType="org.rda.pojo.District">
		SELECT * FROM district
	</select>

<select id="getAllCenterPairs" resultMap="BaseResult">
		SELECT sumTons,d1.longitude longitude1,d1.latitude latitude1,d2.longitude longitude2,d2.latitude latitude2 FROM centerpair 
		left join district as d1 on centerpair.fromCenter=d1.id
		left join district as d2 on centerpair.toCenter=d2.id
	</select>

</mapper>