<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.rda.mapper.RailwayCityMapper">
 <resultMap id="BaseResult" type="java.util.Map">
		<!-- column:数据库中表的字段 
		property：数据库中表所有映射的实体类javaBean中的属性名 -->
		
		<result property="fromCity" column="fromCity" />
		<result property="toCity" column="toCity" />
		
		<result property="carNum" column="carnum" />
		<result property="tonnage" column="ton" />
		<result property="fromLongitude" column="longitude1" />
		<result property="fromLatitude" column="latitude1" />
		<result property="toLongitude" column="longitude2" />
		<result property="toLatitude" column="latitude2" />
		<result property="benefit" column="bene" />
	</resultMap>
	
	<select id="getFilterResult" resultMap="BaseResult" >
	select fromCity,toCity,sum(railway_city.tonnage) ton,sum(railway_city.carNum) carnum,c1.longitude longitude1,c1.latitude latitude1,c2.longitude longitude2,c2.latitude latitude2,sum(benefit) bene
	FROM railway_city 
    left join city as c1 on railway_city.fromCity=c1.name
    left join city as c2 on railway_city.toCity=c2.name
	where fromCity like CONCAT('%',#{fromCity},'%') and toCity like CONCAT('%',#{toCity},'%')
	group by fromCity,toCity,c1.longitude,c1.latitude,c2.longitude,c2.latitude
	</select>
	
	<delete id="delRailwayCity">
		delete from railway_city
	</delete>
	
	<insert id="addRailwayCity">
		insert into railway_city(fromCity,toCity,tonnage,carNum,benefit,date)
		 (select fromCity,toCity,sum(tonnage),
		sum(carNum),sum(carNum)/sum(tonnage),substring(date,1,6) 
		from railwaydata 
		group by fromCity,toCity,substring(date,1,6) )
	</insert>
</mapper>